<section class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ 'LINKS.TERM' | translate }}</h2>
      </div>
      <div class="col-md-6">
        <ul class="page-depth">
          <li><a routerLink="/home">{{ 'HOME' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="services-page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="side-navigation">
          <div class="contact-info">
            <h2>{{ 'CONTACT.INFO.TITLE' | translate }}</h2>
            <ul class="information-list">
              <li><i class="fa fa-map-marker"></i><span>{{ 'CONTACT.INFO.ADDRESS' | translate }}</span></li>
              <li><i class="fa fa-phone"></i><a href="tel:+19548956169">+1 954 895 6169</a></li>
              <li><i class="fa fa-envelope-o"></i><a href="mailto:soporte@moneyblinks.com">soporte@moneyblinks.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="services-wrapp">
          <div class="services-post">
            <h2>{{ 'TERMS.TITLE' | translate }}</h2>
            <p>{{ 'TERMS.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'TERMS.PARAGRAPHS.TWO' | translate }}</p>
            <p>{{ 'TERMS.PARAGRAPHS.THREE' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.SERVICE.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.SERVICE.PARAGRAPHS.ONE' | translate }}
            </p>
            <p>
              {{ 'TERMS.SERVICE.PARAGRAPHS.TWO' | translate }}
            </p>
            <ul>
              <li>{{ 'TERMS.SERVICE.PARAGRAPHS.TWO_LI.ONE' | translate }}</li>
              <li>{{ 'TERMS.SERVICE.PARAGRAPHS.TWO_LI.TWO' | translate }}</li>
              <li>{{ 'TERMS.SERVICE.PARAGRAPHS.TWO_LI.THREE' | translate }}</li>
              <li>
                {{ 'TERMS.SERVICE.PARAGRAPHS.TWO_LI.FOUR' | translate }}
              </li>
            </ul>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.ELIGIBILITY.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.ELIGIBILITY.PARAGRAPHS.ONE' | translate }}
            </p>
            <ol>
              <li>{{ 'TERMS.ELIGIBILITY.PARAGRAPHS.ONE_LI.ONE' | translate }}</li>
              <li>{{ 'TERMS.ELIGIBILITY.PARAGRAPHS.ONE_LI.TWO' | translate }}</li>
              <li>{{ 'TERMS.ELIGIBILITY.PARAGRAPHS.ONE_LI.THREE' | translate }}</li>
            </ol>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.SCOPE.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.SCOPE.PARAGRAPHS.ONE' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.RECEIVED.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.RECEIVED.PARAGRAPHS.ONE' | translate }}
            </p>
            <p>
              {{ 'TERMS.RECEIVED.PARAGRAPHS.TWO' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.PAY.TITLE' | translate }}</h3>
            <ol>
              <li>{{ 'TERMS.PAY.PARAGRAPHS.ONE' | translate }}</li>
              <li>{{ 'TERMS.PAY.PARAGRAPHS.TWO' | translate }}</li>
            </ol>
          </div>

          <div class="services-post">
            <h3>{{ 'TERMS.RESTRICTIONS.TITLE' | translate }}</h3>
            <ol>
              <li>{{ 'TERMS.RESTRICTIONS.PARAGRAPHS.ONE' | translate }}</li>
              <li>{{ 'TERMS.RESTRICTIONS.PARAGRAPHS.TWO' | translate }}</li>
              <li>{{ 'TERMS.RESTRICTIONS.PARAGRAPHS.THREE' | translate }}</li>
              <li>{{ 'TERMS.RESTRICTIONS.PARAGRAPHS.FOUR' | translate }}</li>
            </ol>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.INFORMATION.TITLE' | translate }}</h3>
            <ol>
              <li>{{ 'TERMS.INFORMATION.PARAGRAPHS.ONE' | translate }}</li>
              <li>{{ 'TERMS.INFORMATION.PARAGRAPHS.TWO' | translate }}</li>
              <li>{{ 'TERMS.INFORMATION.PARAGRAPHS.THREE' | translate }}</li>
              <li>{{ 'TERMS.INFORMATION.PARAGRAPHS.FOUR' | translate }}</li>
            </ol>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.PROPERTY.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.PROPERTY.PARAGRAPHS.ONE' | translate }}
            </p>
            <p>
              {{ 'TERMS.PROPERTY.PARAGRAPHS.TWO' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.COMPENSATION.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.COMPENSATION.PARAGRAPHS.ONE' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.LIFEINSURANCE.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.LIFEINSURANCE.PARAGRAPHS.ONE' | translate }}
            </p>
            <br/>
            <table className="styled-table">
              <thead>

                <tr>
                  <th>{{'TERMS.LIFEINSURANCE.TABLE.TITLE.ONE'|translate}}</th>
                  <th>{{'TERMS.LIFEINSURANCE.TABLE.TITLE.TWO'|translate}}</th>
                </tr>
              </thead>
              <tr>
                <td>{{'TERMS.LIFEINSURANCE.TABLE.DETAILS.ONE'|translate}}</td>
                <td>{{'TERMS.LIFEINSURANCE.TABLE.AMOUNTS.ONE'|translate}}</td>
              </tr>
              <tr>
                <td>{{'TERMS.LIFEINSURANCE.TABLE.DETAILS.TWO'|translate}}</td>
                <td>{{'TERMS.LIFEINSURANCE.TABLE.AMOUNTS.TWO'|translate}}</td>
              </tr>
            </table>
            <br/>
            <p>
              {{ 'TERMS.LIFEINSURANCE.PARAGRAPHS.TWO' | translate }}
            </p>
            <p>
              {{ 'TERMS.LIFEINSURANCE.PARAGRAPHS.THREE' | translate }}
            </p>
            <p>
              {{ 'TERMS.LIFEINSURANCE.PARAGRAPHS.FOUR' | translate }}
            </p>
            <p>
              {{ 'TERMS.LIFEINSURANCE.PARAGRAPHS.FIVE' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.RESPONSIBILITY.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.RESPONSIBILITY.PARAGRAPHS.ONE' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.E_COMMUNICATIONS.TITLE' | translate }}</h3>
            <p>
              {{ 'TERMS.E_COMMUNICATIONS.PARAGRAPHS.ONE' | translate }}
            </p>
            <p>{{ 'TERMS.E_COMMUNICATIONS.PARAGRAPHS.TWO' | translate }}</p>
            <ol>
              <li>{{ 'TERMS.E_COMMUNICATIONS.PARAGRAPHS.TWO_LI.ONE' | translate }}</li>
              <li>{{ 'TERMS.E_COMMUNICATIONS.PARAGRAPHS.TWO_LI.TWO' | translate }}</li>
            </ol>
            <p>{{ 'TERMS.E_COMMUNICATIONS.PARAGRAPHS.THREE' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.CONTROVERSIES.TITLE' | translate }}</h3>
            <ol>
              <li>{{ 'TERMS.CONTROVERSIES.PARAGRAPHS.ONE' | translate }}</li>
              <li>{{ 'TERMS.CONTROVERSIES.PARAGRAPHS.TWO' | translate }}</li>
              <li>{{ 'TERMS.CONTROVERSIES.PARAGRAPHS.THREE' | translate }}</li>
              <li>{{ 'TERMS.CONTROVERSIES.PARAGRAPHS.FOUR' | translate }}</li>
            </ol>
          </div>
          <div class="services-post">
            <h3>{{ 'TERMS.SECURITY.TITLE' | translate }}</h3>
            <p>{{ 'TERMS.SECURITY.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'TERMS.SECURITY.PARAGRAPHS.TWO' | translate }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>