<section>
  <div class="fill">
    <div class="titulo tp-caption finewide_medium_white ">
      {{ 'SLIDE.SEND_RECEIVED' |translate }}
      <br>
      <span style="    color: #ffba00 !important;
      text-align: center;"> {{ 'SLIDE.MONEY' | translate }}</span>
    </div>
    <div class="buttons">
      <div class="ios">
        <p
          style="color:white; font-size:medium ; z-index: 7;min-width: 200px ;max-width: auto; max-height: auto; white-space: nowrap; font-style: italic;">
          {{ 'SLIDE.IOS' | translate
          }}
          :
        </p>

        <button type="button" class=" btn btn-outline-danger">

          <a href="https://apps.apple.com/ec/app/moneyblinks-wallet/id1590351645" class='iosbtn trans-btn col-sm-12'
            target=”_blank”> APP STORE</a>
        </button>
      </div>
      <div class="android">
        <p
          style="color:white; font-size:medium ; z-index: 7;min-width: 200px ;max-width: auto; max-height: auto; white-space: nowrap; font-style: italic;">
          {{ 'SLIDE.ANDROID' | translate
          }}
          :
        </p>
        <button type="button" class="btn btn-warning">
          <a href="https://play.google.com/store/apps/details?id=com.moneyblinks.WalletApp"
            class='androidbtn trans-btn2 col-sm-12' target=”_blank”>Google
            Play</a>
        </button>
      </div>
    </div>
  </div>

</section>
<section id="offers" class="feature-section">
  <div class="container">
    <div class="project-title title">
      <h2 class="box-header">{{ 'WHAT_OFFER_YOU' | translate }}</h2>
      <p style="text-align: justify;
      ">{{ 'WHAT_OFFER.TEXT' | translate }}</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a class="icon-box" href="#" target="_self"> <span>
            <img src="assets/images/faster.svg" width="36" [title]="'WHAT_OFFER.SPEED.TITLE' | translate"
              [alt]="'WHAT_OFFER.SPEED.TITLE' | translate"> </span>
          <h4 class="icon-box__title">{{ 'WHAT_OFFER.SPEED.TITLE' | translate}}</h4>
          <p>{{ 'WHAT_OFFER.SPEED.TEXT' | translate}}</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3"><a class="icon-box" href="#" target="_self"> <span>
            <img src="assets/images/security.svg" width="36" [title]="'WHAT_OFFER.SECURITY.TITLE' | translate"
              [alt]="'WHAT_OFFER.SECURITY.TITLE' | translate"> </span>
          <h4 class="icon-box__title">{{ 'WHAT_OFFER.SECURITY.TITLE' | translate}}</h4>
          <p>{{ 'WHAT_OFFER.SECURITY.TEXT' | translate}}</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3"><a class="icon-box" href="#" target="_self">
          <span>
            <img src="assets/images/simply.svg" width="36" [title]="'WHAT_OFFER.SIMPLICITY.TITLE' | translate"
              [alt]="'WHAT_OFFER.SIMPLICITY.TITLE' | translate">
          </span>
          <h4 class="icon-box__title">{{ 'WHAT_OFFER.SIMPLICITY.TITLE' | translate}}</h4>
          <p>{{ 'WHAT_OFFER.SIMPLICITY.TEXT' | translate}}</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3"><a class="icon-box" href="#" target="_self"> <span>
            <img src="assets/images/low-cost.svg" width="36" [title]="'WHAT_OFFER.LOW_COST.TITLE' | translate"
              [alt]="'WHAT_OFFER.LOW_COST.TITLE' | translate">
          </span>
          <h4 class="icon-box__title">{{ 'WHAT_OFFER.LOW_COST.TITLE' | translate}}</h4>
          <p>{{ 'WHAT_OFFER.LOW_COST.TEXT' | translate}}</p>
        </a></div>
    </div>
  </div>
</section>



<section class="services-offer-section" [attr.id]="'how-work'">
  <div class="container">
    <div class="project-title title">
      <h2 class="box-header">{{ 'HOW_WORK.TITLE' | translate }}</h2>
      <p style="text-align: justify;
      ">{{ 'HOW_WORK.TEXT' | translate }}</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="services-post">
          <img src="assets/images/principal.svg" alt="">
          <div class="services-content">
            <h2><a [routerLink]="['/home']">{{ 'HOW_WORK.INTERCACE.TITLE' | translate }}</a></h2>
            <p>{{ 'HOW_WORK.INTERCACE.CAPTION' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-post">
          <img src="assets/images/second.svg" alt="">
          <div class="services-content">
            <h2><a [routerLink]="['/home']">{{ 'HOW_WORK.HISTORY.TITLE' | translate }}</a></h2>
            <p>{{ 'HOW_WORK.HISTORY.CAPTION' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-post">
          <img src="assets/images/Third.svg" alt="">
          <div class="services-content">
            <h2><a [routerLink]="['/home']">{{ 'HOW_WORK.SEND.TITLE' | translate }}</a></h2>
            <p>{{ 'HOW_WORK.SEND.CAPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section [attr.id]="'team'" class="news-section news-section-home">
  <div class="container">
    <div class="news-title title">
      <h2 class="box-header">{{ 'TEAM.TITLE' | translate }}</h2>
    </div>
    <div class="news-box">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/juancarlos.png" alt="Juan Carlos Medina">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Juan Carlos Medina</a></h2>
                <h2>{{ 'TEAM.JC.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.JC.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogJC()">{{ 'READ_MORE' | translate }}</button>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/ricardo.png" alt="Ricardo">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Ricardo Calvo</a></h2>
                <h2>{{ 'TEAM.RC.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.RC.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogRCA()">{{ 'READ_MORE' | translate }}</button>

              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/francisco.png" alt="Francisco Espinosa">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Francisco Espinosa</a></h2>
                <h2>{{ 'TEAM.FE.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.FE.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogFE()">{{ 'READ_MORE' | translate }}</button>
              </div>
            </div>
          </article>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/santiago.png" alt="Santiago Mosquera">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Santiago Mosquera</a></h2>
                <h2>{{ 'TEAM.SMO.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.SMO.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogSMO()">{{ 'READ_MORE' | translate }}</button>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/miguel.png" alt="Miguel">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Miguel A. Valdés</a></h2>
                <h2>{{ 'TEAM.MAV.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.MAV.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogMAV()">{{ 'READ_MORE' | translate }}</button>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-sm-6">
          <article>
            <div class="news-post">
              <div class="img-cap-effect">
                <div class="img-box">
                  <img src="assets/images/our-team/walter.png" alt="Walter Tumbaco">
                  <div class="img-caption">
                    <div class="box-holder"></div>
                  </div>
                </div>
              </div>
              <div class="post-content-text">
                <h2><a href="#">Walter Tumbaco</a></h2>
                <h2>{{ 'TEAM.WTU.TITLE' | translate }}</h2>

                <p>{{ 'TEAM.WTU.RESUME' | translate }}</p>
                <button class="btn readmore" (click)="openDialogWTU()">{{ 'READ_MORE' | translate }}</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section" id="contact">
  <div class="container">
    <div class="col-md-8">
      <form id="contact-form">
        <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
        <div class="row">
          <div class="col-md-6">
            <input name="name" id="name" type="text" [placeholder]="'CONTACT.NAME' | translate">
          </div>
          <div class="col-md-6">
            <input name="mail" id="mail" type="text" [placeholder]="'CONTACT.EMAIL' | translate">
          </div>
        </div>
        <textarea name="comment" id="comment" [placeholder]="'CONTACT.MESSAGE' | translate"></textarea>
        <input type="submit" id="submit_contact" [value]="'CONTACT.BTN' | translate">
        <div id="msg" class="message"></div>
      </form>
    </div>
    <div class="col-md-4">
      <div class="contact-info">
        <h2>{{ 'CONTACT.INFO.TITLE' | translate }}</h2>
        <p>{{ 'CONTACT.INFO.TEXT' | translate }}</p>
        <ul class="information-list">
          <li><i class="fa fa-map-marker"></i><span>
              <p>{{ 'CONTACT.INFO.ADDRESS' | translate }}</p>
            </span></li>
          <li><i class="fa fa-phone"></i><a href="tel:+19548956169">+1 954 895 6169</a></li>
          <li><i class="fa fa-envelope-o"></i><a href="mailto:soporte@moneyblinks.com">soporte@moneyblinks.com</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>