<section class="page-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ 'LINKS.POLITIC' | translate }}</h2>
      </div>
      <div class="col-md-6">
        <ul class="page-depth">
          <li><a routerLink="/home">{{ 'HOME' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="services-page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="side-navigation">
          <div class="contact-info">
            <h2>{{ 'CONTACT.INFO.TITLE' | translate }}</h2>
            <ul class="information-list">
              <li><i class="fa fa-map-marker"></i><span>{{ 'CONTACT.INFO.ADDRESS' | translate }}</span></li>
              <li><i class="fa fa-phone"></i><a href="tel:+19548956169">+1 954 895 6169</a></li>
              <li><i class="fa fa-envelope-o"></i><a href="mailto:soporte@moneyblinks.com">soporte@moneyblinks.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="services-wrapp">
          <div class="services-post">
            <h2>{{ 'POLITIC.TITLE' | translate  }}</h2>
            <p>{{ 'POLITIC.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'POLITIC.PARAGRAPHS.TWO' | translate }}</p>
            <p>{{ 'POLITIC.PARAGRAPHS.THREE' | translate }}</p>
            <p>{{ 'POLITIC.PARAGRAPHS.FOUR' | translate }}</p>
            <p>{{ 'POLITIC.PARAGRAPHS.FIVE' | translate }}</p>
            <p>{{ 'POLITIC.PARAGRAPHS.SIX' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.REASONS.TITLE' | translate  }}</h3>
            <p>
              {{ 'POLITIC.REASONS.PARAGRAPHS.ONE' | translate }}
            </p>
            <ol>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.ONE' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.TWO' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.THREE' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.FOUR' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.FIVE' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.SIX' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.SEVEN' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.EIGHT' | translate }}</li>
              <li>{{ 'POLITIC.REASONS.PARAGRAPHS.ONE_LI.NINE' | translate }}</li>
            </ol>
            <p>{{ 'POLITIC.REASONS.PARAGRAPHS.TWO' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.COLLECTED.TITLE' | translate  }}</h3>
            <p>
              {{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE' | translate }}
            </p>
            <ol>
              <li>{{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE_LI.ONE' | translate }}</li>
              <li>{{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE_LI.TWO' | translate }}</li>
              <li>{{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE_LI.THREE' | translate }}</li>
              <li>{{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE_LI.FOUR' | translate }}</li>
              <li>{{ 'POLITIC.COLLECTED.PARAGRAPHS.ONE_LI.FIVE' | translate }}</li>
            </ol>
            <p>{{ 'POLITIC.COLLECTED.PARAGRAPHS.TWO' | translate }}</p>
            <p>{{ 'POLITIC.COLLECTED.PARAGRAPHS.THREE' | translate }}</p>
            <p>{{ 'POLITIC.COLLECTED.PARAGRAPHS.FOUR' | translate }}</p>
            <p>{{ 'POLITIC.COLLECTED.PARAGRAPHS.FIVE' | translate }}</p>
            <p>{{ 'POLITIC.COLLECTED.PARAGRAPHS.SIX' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.ACCESS.TITLE' | translate  }}</h3>
            <p>
              {{ 'POLITIC.ACCESS.PARAGRAPHS.ONE' | translate }}
            </p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.SHARED.TITLE' | translate  }}</h3>
            <p>
              {{ 'POLITIC.SHARED.PARAGRAPHS.ONE' | translate }}
            </p>
            <p>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO' | translate }}</p>
            <ol>
              <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.ONE' | translate }}</li>
              <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.TWO' | translate }}</li>
              <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.THREE' | translate }}</li>
              <li>
                {{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.FOUR' | translate }}
                <ul>
                  <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.FOUR_POINTS.ONE' | translate }}</li>
                  <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.FOUR_POINTS.TWO' | translate }}</li>
                  <li>{{ 'POLITIC.SHARED.PARAGRAPHS.TWO_LI.FOUR_POINTS.THREE' | translate }}</li>
                </ul>
              </li>
            </ol>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.CALIFORNIA.TITLE' | translate  }}</h3>
            <p>{{ 'POLITIC.CALIFORNIA.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'POLITIC.CALIFORNIA.PARAGRAPHS.TWO' | translate }}</p>
            <p>{{ 'POLITIC.CALIFORNIA.PARAGRAPHS.THREE' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.SECURITY.TITLE' | translate  }}</h3>
            <p>{{ 'POLITIC.SECURITY.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'POLITIC.SECURITY.PARAGRAPHS.TWO' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.INVITATIONS.TITLE' | translate  }}</h3>
            <p>{{ 'POLITIC.INVITATIONS.PARAGRAPHS.ONE' | translate }}</p>
            <p>{{ 'POLITIC.INVITATIONS.PARAGRAPHS.TWO' | translate }}</p>
          </div>
          <div class="services-post">
            <h3>{{ 'POLITIC.COMPLAINS.TITLE' | translate  }}</h3>
            <p>{{ 'POLITIC.COMPLAINS.PARAGRAPHS.ONE' | translate }}</p>
          </div>
<!--          <div class="row">-->
<!--            <div class="col-md-6">-->
<!--              <div class="services-post">-->
<!--                <h4>Great Planning</h4>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--                  consequat.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="services-post">-->
<!--                <h4>Hard &amp; Fast Working</h4>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--                  consequat.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
    </div>
  </div>
</section>
