.hug__section{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;

}

.hug__section p {
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.videoHug{
    height: calc(100vh - 100px);
    width: 100%;

}
@media only screen and (max-width: 700px) {

    .hug__section {
        height: 70vh;
    }
    
    .hug__section p {
        font-size: 70px;
    }

    .videoHug{
        width: 100%;
        height: 70vh;

    }

}


@media only screen and (max-width: 500px) {

    .hug__section {
        height: 50vh;
    }
    
    .hug__section p {
        font-size: 40px;
    }
    .videoHug{
        width: 100%;
        height: 50vh;
    }

}
